body{
  background: rgb(58, 57, 57);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

h1{
  width: 100%;
  text-align: center;
  color: white;
}

h2{
  color:grey;
}

form{
  display: flex;
  flex-direction: column;
}

input{
  max-width: 30vw;
}

button{
  max-width: 20vw;
}

.song-button{
  border: none;
  background: transparent;
  font-size: 5vh;
}

.upvote-button{
  color: green;
}

.upvote-button:hover{
  color: rgb(4, 221, 4);
}

.downvote-button{
  color: red;
}

.downvote-button:hover{
  color: rgb(248, 74, 74);
}

.delete-button{
  color: black;
}

.delete-button:hover{
  color: rgb(110, 7, 7);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header-links{
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.header-link{
  color: orangered;
  border: none;
}

.header-link:hover{
  color: orange;
  text-decoration: underline;
}

.border-hover{
  margin: 0 20vw;
  border: 3px solid transparent;
  background: rgb(248, 247, 247);
}

.border-hover:hover{
  border: 3px solid turquoise;
  background: rgb(227, 252, 249);
}

.disable-click{
  pointer-events: none;
}

.share-link{
  min-height: 3vh;
  border: 1px solid black;
}

#invite-code{
  height: 5vh;
  line-height: 4.5vh;
  vertical-align: baseline;
  padding: 0;
  resize: none;
}