h1{
  width: 100%;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
}

input{
  max-width: 30vw;
}

button{
  max-width: 20vw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header-links{
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.header-link{
  color: orangered;
  border: none;
}

.header-link:hover{
  color: orange;
  text-decoration: underline;
}

.border-hover{
  margin: 0 20vw;
  border: 3px solid transparent;
  background: rgb(248, 247, 247);
}

.border-hover:hover{
  border: 3px solid turquoise;
  background: rgb(227, 252, 249);
}

.disable-click{
  pointer-events: none;
}